.searchPage-main{
    height: calc(100vh - 65px);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.filterHoler{
    height: 80px;
    width: 100%;
    background-color: maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filterHoler > * {
    color: white;
}

.resultHolder{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px - 80px);
}

.rCardHold{
    width: 60vw;
    height: calc(100vh - 65px - 80px);
    overflow-y: scroll;
    border: solid black 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mapholder{
    width: 40vw;
    height: calc(100vh - 65px - 80px);
    border: solid black 1px;
    box-sizing: border-box;

}

.property1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 250px;
    border: solid black 1px;
    margin: 25px;
    border-radius: 15px;
    background-color: maroon;
    box-shadow: 1px 1px 2px 0px black;
    transition: all 0.2s;
}

.property1 > * {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    margin: 5px;
}

.property1:hover {
    background-color: whitesmoke;
    color: black;
    transform: translateY(5px)
}

.property1:hover >* {
    color: black;
}

.cardImg{
    width: 225px;
    border-radius: 3px;
    border: solid black 1px;
}

.statHolddd{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    align-items: center;
    justify-content: space-between;
}

.statHolddd > * {
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.statHolddd > p{
    background-color: whitesmoke;
    color: black;
    padding: 3px 5px 3px 5px;
    border-radius: 7px;

}

*{
    text-decoration: none;
}

.filterHoler > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

.sForm > label{
    background-color: white;
    /* margin: 15px; */
    /* border-radius: 7px; */
    /* width: 200px; */
    border: solid black 1px;
    border-radius: 7px;
}

.sForm > label {
    text-align: center;
    color: black;
    margin: 20px;
    padding: 2px;
}

.sForm > label > input {
    text-align: center;
    width: 150px;
    border-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid black 1px;
}

.sForm > button {
    height: 50px;
    border-radius: 15px;
}