.homePage-main{
    max-height: 92.5vh;
    min-height: 92.5vh;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    z-index: -1;

}

.overlayy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.mainBG > img {
    width: 100vw;
    height: 500px;
}

.mainBG {
    background-size:cover;
    /* height: 600px; */
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.mainBG > h1 {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 7px;
    border: solid black 1px;
    box-shadow: 0px 1px 1px 1px black;
}

.homeCardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    /* height: calc(92.5vh - 600px); */
    /* min-height: 200px; */
    /* border: solid black 1px; */
    padding: 25px;
    margin-top: 100px;
}

.homeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    min-height: 300px;
    min-width: 300px;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px black;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
    
}

.homeCard > img {
    width: 100px;
    height: 100px;
}


.bgVidd{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
}

.homePage-main > * {
    z-index: 2;
}

.homeCard > * {
    color: black;
    text-align: center;
}










.centerBook {
    background-color: maroon;
    min-width: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    border: solid whitesmoke 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.mid {
    min-width: max-content;
}

.mid>* {
    text-decoration: none;
}

.centerBook>p {
    color: whitesmoke;
}

.arrow1 {
    width: 40px;
}

.mid:hover {
    cursor: pointer;
    transform: translate(3px, 0px);
}