.homePage-main{
    height: 90vh;
    min-height: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

.mainBG > img {
    width: 100vw;
    height: 500px;
}

.mainBG {
    background-size:cover;
    background-image: url('./background-img.jpeg');
    height: 600px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainBG > h2 {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 7px;
    border: solid black 1px;
    box-shadow: 0px 1px 1px 1px black;
}

.homeCardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: calc(90vh - 600px);
    min-height: 200px;
    border: solid black 1px;
    padding: 25px;
}

.homeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 200px;
    
}

.homeCard > img {
    width: 100px;
    height: 100px;
}











.centerBook {
    background-color: maroon;
    min-width: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    border: solid black 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.mid {
    min-width: max-content;
}

.mid>* {
    text-decoration: none;
}

.centerBook>p {
    color: whitesmoke;
}

.arrow1 {
    width: 40px;
}

.mid:hover {
    cursor: pointer;
    transform: translate(3px, 0px);
}