.navBar {
    width: 100%;
    height: 10vh;
    min-height: 80px;
    top: 0;
    position: sticky;
    background-color: whitesmoke;
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: none;
    justify-content: space-around;
    z-index: 5;
}

.logoHold{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
    height: 100%;
    transform: translate(0px, 3px);
}

.logo1 {
    width: 60px;
    height: 60px;
}

.logoT{
    text-decoration: none;
}

.navS{
    min-width: 32vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.userBHold{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userBHold > * {
    margin-left: 15px;
    margin-right: 15px;
}

.userBHold > * {
    cursor: pointer;
    text-decoration: none;
}



.uploadB{
    border: solid transparent 1px;
    box-sizing: border-box;
    /* border-radius: 15px; */
    color: black;
}

.uploadB:hover{
    border-bottom: solid black 1px;
}

.profileB{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid black 1px;
    box-sizing: border-box;
    border-radius: 7px;
}


.navMid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navMid > * {
    margin: 7px;
}